@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


table {
  display: table;
}

tbody tr {
  animation-name: unset;
}

table.showRowAnimate tbody tr {
  animation-name: showrow;
}

@media (min-width: 700px) {
  .mobile-only {
    display: none;
  }
}
@media (max-width: 699px) {
  .not-on-mobile {
    display: none;
  }
}